//variables//
$width: 200px; 
$height: 250px;

.nosotros{
    padding: 20px;
    margin: 10px;
    text-align: center;
}
@mixin sizes($width, $height) {
    height: $height;
    width: $width;
    }

.nosotros1 img{
    @include sizes(580px, 330px);
    border-radius: 15px;
    margin: 15px;
    box-shadow: 15px 15px 15px #00000095;
}


.nosotros2{
    @extend .nosotros1;
}